TrendingConsoleApp/Connected Services/TrendingConsoleAppService/TrendingConsoleAppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Tags.InputTags" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Tags.InputTags" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50929/TrendingConsoleAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Tags" />
  <xs:complexType name="InputTag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Tags" base="q1:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alarms" nillable="true" type="tns:ArrayOfAlarm" />
          <xs:element minOccurs="0" name="Driver" type="tns:DriverType" />
          <xs:element minOccurs="0" name="ScanOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InputTag" nillable="true" type="tns:InputTag" />
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmId" type="xs:int" />
      <xs:element minOccurs="0" name="AlarmType" type="tns:AlarmType" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW" />
      <xs:enumeration value="HIGH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
  <xs:simpleType name="DriverType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SIMULATION_DRIVER" />
      <xs:enumeration value="REAL_TIME_DRIVER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DriverType" nillable="true" type="tns:DriverType" />
  <xs:complexType name="DigitalInputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalInputTag" nillable="true" type="tns:DigitalInputTag" />
  <xs:complexType name="AnalogInputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogInputTag" nillable="true" type="tns:AnalogInputTag" />
</xs:schema>