DatabaseManager/Connected Services/DatabaseManagerService/DatabaseManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.TransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.TransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50929/DatabaseManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Tags" />
  <xs:complexType name="ArrayOfTagTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagTransfer" nillable="true" type="tns:TagTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagTransfer" nillable="true" type="tns:ArrayOfTagTransfer" />
  <xs:complexType name="TagTransfer">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Tags" minOccurs="0" name="Tag" nillable="true" type="q1:Tag" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagTransfer" nillable="true" type="tns:TagTransfer" />
</xs:schema>