DatabaseManager/Connected Services/DatabaseManagerService/DatabaseManagerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Tags" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Tags" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50929/DatabaseManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Tags.OutputTags" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IoAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="DigitalOutputTag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Tags.OutputTags" base="q1:OutputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalOutputTag" nillable="true" type="tns:DigitalOutputTag" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
</xs:schema>