AlarmDisplayApp/Connected Services/AlarmDisplayService/AlarmDisplayService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50929/AlarmDisplayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Database.Model" />
  <xs:element name="AlarmDisplayInit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmHappened">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Database.Model" minOccurs="0" name="alarmTime" nillable="true" type="q1:AlarmTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>